<section class="bev-container fade-in-slide-up">
	<!-- Loading Spinner -->

	<div
		*ngIf="!dataHasArrived; else showBirdsEyeViewProblems"
		class="bev-loading-spinner-container"
	>
		<app-loading-spinner></app-loading-spinner>
	</div>

	<!---->

	<!-- Content -->

	<ng-template #showBirdsEyeViewProblems>
		<div class="bev-content">
			<div
				*ngFor="let birdsEyeViewProblem of birdsEyeViewProblems"
				class="bev-problem-container"
			>
				<app-birds-eye-view-problem
					[birdsEyeViewProblem]="birdsEyeViewProblem"
				></app-birds-eye-view-problem>
			</div>
		</div>
	</ng-template>

	<!---->
</section>
