@import "src/styles.scss";

.bev-container {
	width: 100%;
	height: 100%;
	overflow: auto;
}

.bev-loading-spinner-container {
	width: 100%;
	height: 100%;
	@extend .flex-column;
	@extend .justify-content-center;
	@extend .align-items-center;
}

.bev-problem-container {
	width: calc(100% - 32px);
	height: fit-content;
	padding: 16px 16px 0 16px;
}

// Media Queries

@media screen and (min-width: 576px) {
	.bev-problem-container {
		width: 100%;
		padding: 16px 0 0 0;
	}
}
