<section class="navigation-bar-container">
  <!-- Navigation Bar (Desktop) -->
  <ul class="navigation-bar-menu-desktop">
    <li
      *ngFor="let item of items"
      class="navigation-bar-menu-item"
      (click)="performNavigation(item.path)"
    >
      {{ item.item }}
    </li>
  </ul>
  <!---->

  <!-- Content -->
  <div class="navigation-bar-content">
    <ng-content content></ng-content>
  </div>
  <!---->

  <!-- Navigation Bar (Mobile) -->
  <div class="navigation-bar-menu">
    <div class="navigation-bar-standby-circle"></div>
    <div
      class="icon-container"
      [class.animate-icon-container]="animateIcon['menu']"
      (click)="performAnimateIcon('menu')"
    >
      <img
        class="navigation-bar-icon"
        src="./assets/menu.png"
        alt="Three horizontal lines above one another"
      />
    </div>
    <div
      class="icon-container"
      [class.animate-icon-container]="animateIcon['search']"
      (click)="performAnimateIcon('search')"
    >
      <img
        class="navigation-bar-icon"
        src="./assets/search.png"
        alt="Magnifying glass"
      />
    </div>
  </div>
  <!---->
</section>
