// Colors

$background: #fafafa;
$highlight: #c9aa04;

$black: #1a1a1a;
$grey: #757575;
$light-grey: #e3e3e3;

$icon-animation-background: #fff7d1;
$icon-animation-border: #e6d481;

// Border Radius

$border-radius: 4px;
